.nav {
    background-color: fuchsia;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    height: 100%;
}

.nav div {
    margin: 15px 15px;
}

.nav div a {
    color: lightgray;
    text-decoration: none;
}

.activeLink {
    color: white;
    font-weight: 800;
    font-size: large;
}